Team 4/landau_web_20.01/docs/landau_Krisen_Main.json
{
  "name": "landau_Krisen_Main",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1024,
        -128
      ],
      "id": "d7af5811-3a23-414d-bab3-2b6cb2f598fb",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "lzZPXNY7rKEHpzdd",
          "mode": "list",
          "cachedResultUrl": "/workflow/lzZPXNY7rKEHpzdd",
          "cachedResultName": "Landau_Krisen_sub_picture"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "generatePicture": "={{ $json.generatePicture }}",
            "instagramCaption": "={{ $json.instagram.caption }}",
            "linkedinCaption": "={{ $json.linkedin.caption }}",
            "facebookCaption": "={{ $json.facebook.caption }}",
            "pressemitteilungCaption": "={{ $json.pressemitteilung.caption }}",
            "interneEmailCaption": "={{ $json.interneemail.caption }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "instagramCaption",
              "displayName": "instagramCaption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "linkedinCaption",
              "displayName": "linkedinCaption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "facebookCaption",
              "displayName": "facebookCaption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "pressemitteilungCaption",
              "displayName": "pressemitteilungCaption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "interneEmailCaption",
              "displayName": "interneEmailCaption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "generatePicture",
              "displayName": "generatePicture",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        400,
        -128
      ],
      "id": "a11e12af-f654-4412-a933-37ca99cb9c8b",
      "name": "Picture sub workflow"
    },
    {
      "parameters": {
        "jsCode": "// Extract picture generation flag from incoming webhook data\n// This node goes between the webhook and the picture generation sub-workflow\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  // Try to get the picture array from various possible locations\n  let pictureArray = $('Webhook submit').first().json.body.data.picture;\n  let shouldGeneratePicture = false;\n  \n  // Check all possible data structures\n  if (item.json?.data?.picture) {\n    pictureArray = item.json.data.picture;\n  } else if (item.json?.picture) {\n    pictureArray = item.json.picture;\n  } else if (item.json?.body?.data?.picture) {\n    pictureArray = item.json.body.data.picture;\n  }\n  \n  // Determine if we should generate a picture\n  if (Array.isArray(pictureArray)) {\n    shouldGeneratePicture = pictureArray.length > 0 && pictureArray.includes('generate');\n  } else if (typeof pictureArray === 'string') {\n    shouldGeneratePicture = pictureArray === 'generate' || pictureArray.toLowerCase() === 'true';\n  } else if (typeof pictureArray === 'boolean') {\n    shouldGeneratePicture = pictureArray;\n  }\n  \n  // Extract topic for image prompt\n  let topic = '';\n  if (item.json?.data?.Topic) {\n    topic = item.json.data.Topic;\n  } else if (item.json?.Topic) {\n    topic = item.json.Topic;\n  } else if (item.json?.body?.data?.Topic) {\n    topic = item.json.body.data.Topic;\n  }\n  \n  // Log for debugging\n  console.log('Picture array received:', pictureArray);\n  console.log('Should generate picture:', shouldGeneratePicture);\n  console.log('Topic for image:', topic);\n  \n  // Pass through all original data plus the parsed flag\n  results.push({\n    json: {\n      ...item.json,\n      generatePicture: shouldGeneratePicture,\n      picturePromptTopic: topic,\n      _debug: {\n        originalPictureValue: pictureArray,\n        parsedAsBoolean: shouldGeneratePicture\n      }\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "27da73da-fa47-4024-a63d-870c9c07ce55",
      "name": "Parse Picture Toggle",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -128
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Safely get captions, handling undefined\nconst instagramCaption = input.instagramCaption || '';\nconst linkedinCaption = input.linkedinCaption || '';\nconst facebookCaption = input.facebookCaption || '';\nconst pressemitteilungCaption = input.pressemitteilungCaption || '';\nconst interneEmailCaption = input.interneEmailCaption || '';\nconst imageUrl = input.imageUrl || '';\n\nreturn [{\n  json: {\n    instagram: {\n      caption: instagramCaption,\n      imageUrl: imageUrl\n    },\n    linkedin: {\n      caption: linkedinCaption,\n      imageUrl: imageUrl\n    },\n    facebook: {\n      caption: facebookCaption,\n      imageUrl: imageUrl\n    },\n    pressemitteilung: {\n      caption: pressemitteilungCaption,\n      imageUrl: imageUrl\n    },\n    interneemail: {\n      caption: interneEmailCaption,\n      imageUrl: imageUrl\n    },\n    imageUrl: imageUrl\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        -128
      ],
      "id": "4aae0f5a-ba79-4823-9c4b-632644a2a4dc",
      "name": "parse for web hook"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OinXR2rtarbqiuK3",
          "mode": "list",
          "cachedResultUrl": "/workflow/OinXR2rtarbqiuK3",
          "cachedResultName": "Landau_Krisen_sub_content"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -96,
        -128
      ],
      "id": "4cb12986-c86b-41e5-be82-98d80fa89dfe",
      "name": "content sub flow"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ad873d2e-bf75-4705-8240-b6261d7761f7",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -352,
        -128
      ],
      "id": "4aaef300-d23e-41ee-891a-291066b92770",
      "name": "Webhook submit",
      "webhookId": "ad873d2e-bf75-4705-8240-b6261d7761f7"
    }
  ],
  "pinData": {},
  "connections": {
    "Picture sub workflow": {
      "main": [
        [
          {
            "node": "parse for web hook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Picture Toggle": {
      "main": [
        [
          {
            "node": "Picture sub workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse for web hook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "content sub flow": {
      "main": [
        [
          {
            "node": "Parse Picture Toggle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook submit": {
      "main": [
        [
          {
            "node": "content sub flow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "51ad38d7-c18d-4766-ac97-ae332ce5c09e",
  "meta": {
    "instanceId": "242e16560be4b15ec48732e58bf97d190f82ae9479ec2d8855ef98e163c481dd"
  },
  "id": "iL0LgdrRlYnftkVw",
  "tags": []
}